.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 80px;
  padding: 40px 10px 5px 10px;
  background-color: var(--secondary);
  max-width: 500px;
}

.picture {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.pseudo {
  color: var(--primary);
  margin-top: 40px;
}

.email {
  color: var(--primary);

  &_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &_icon {
    color: var(--primary);
    font-size: 30px;
    margin-right: 10px;
  }
}

.bio {
  font-size: 20px;
  &_container {
    display: flex;
    flex-direction: column;
    padding: 0 10px 20px 0;
  }
  &_title {
    &_container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &_element {
      background-color: var(--primary);
      width: 110px;
      height: 3px;
      margin-left: 20px;
    }
  }
}
