#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  width: 100vw;
  height: 105vh;
  background: linear-gradient(
    320deg,
    rgba(253, 45, 1, 1) 0%,
    rgba(255, 215, 215, 1) 60%
  );
}
