.loginInput,
.loginBtn {
  height: 40px;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 1rem;
}

.loginInput {
  width: 95%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: var(--secondary);
  padding: 0 5px;

  &:focus {
    border-color: var(--primary);
  }
}

.loginBtn {
  width: 100%;
  background-color: var(--primary);
  margin-bottom: 1rem;

  &:hover {
    filter: brightness(80%);
  }
}

.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginLink {
  color: var(--secondary);
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}

.loginSpan {
  color: var(--primary);
  width: 95%;
}
