.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--primary);
}

.navImg {
  position: absolute;
  left: 10px;
  height: 30px;
  width: 30px;
  margin: 0 50px 0 10px;
  cursor: pointer;
}

.navInput {
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0 5px;
  height: 25px;
  border-radius: 5px;
}

.navLogout {
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: var(--secondary);
  cursor: pointer;
}

.liste {
  list-style-type: none;
  background-color: var(--primary);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.items {
  margin-right: 30px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.items:nth-child(4) {
  display: none;
}

.btn {
  display: none;
}

@media screen and (max-width: 500px) {
  .liste {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 0;
    width: 80%;
    height: 29%;
    flex-direction: column;
  }

  .items {
    display: flex;
    margin: 0;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #fff;
    line-height: 50px;
  }

  .items:nth-child(4) {
    display: flex;
    background: none;
    border: none;
  }

  .btn {
    display: block;
    border: none;
    background: none;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
  }

  .navLogout {
    display: none;
  }
}
